 <div class="container p-5 bg-light">
  <div class="form-control" *ngIf="service?.documents?.length != 0  "> <!--se è truty-->

  <h6 > Documenti presenti</h6> 
    <div *ngFor="let s of service?.documents" class="d-flex justify-content-around">
      <div class="d-flex justify-content-between">
        <p class="mt-2 text-capitalize ">Nome : <b>{{s.name}}</b></p>
      <p class="mt-2 text-capitalize"> </p>
      </div>
      
      <!-- scarico il file  da url-->
       <span class="btn  bg-primary" (click)="download(s.name,s.url)">Download</span> 
     <svg  class="change-my-color" xmlns="http://www.w3.org/2000/svg" fill="#cc3333" class="bi bi-download  s-dim" viewBox="0 0 16 16" (click)="download(s.name,s.url)">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg> 
      
    </div>
  </div>
    <form class="form-control mt-2" [formGroup]="documentForm" (ngSubmit)="onSubmit()" >
      
        <div class="mb-3">
         <h6> Documenti</h6>
            <input class="form-control form-control-sm" id="formFileSm" multiple type="file" formControlName="document1" (change)="onFileChange($event)">
          </div>
       
          <div *ngIf="myFiles.length > 0" >
      
            <div *ngFor="let f of myFiles ">
              <div class="d-flex justify-content-between">
                <h5 class="text-capitalize ">  {{f.name}}</h5>
                <span class="btn btn-danger s-dim" (click)="deleteFile(f)"> x</span>
              </div>
            </div>

          </div>
     
        <button type="submit" class="btn bg-danger"> Invia</button>
        

    </form>


</div> 

<!-- <h1>Angular 12 Multiple File Upload Example - ItSolutionStuff.com</h1>
       
<form [formGroup]="myForm" (ngSubmit)="submit()">
  
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
           
        </div>
    </div>
      
    <div class="form-group">
        <label for="file">File</label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            multiple
            class="form-control"
            (change)="onFileChange($event)">
      
    </div>
          
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
 -->