<div class="container p-5 bg-light">
  <!--invio nuovi documenti-->
  <form
    class="form-control mt-2"
    [formGroup]="documentForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <h6>Documenti</h6>
      <input
        class="form-control form-control-sm"
        id="formFileSm"
        multiple
        type="file"
        formControlName="document1"
        (change)="onFileChange($event)"
        accept=".doc, .docx,.ppt, .pptx,.txt,.pdf"
      />
    </div>

  <!--   <div *ngIf="myFiles.length > 0">
      <div *ngFor="let f of myFiles">
        <div class="d-flex justify-content-between">
          <small
            class="text-capitalize"
            ngClass="{{ f.name.length > 10 ? 'size-small' : 'size-large' }}"
          >
            {{ f.name }}</small
          >
          <span class="btn btn-danger s-dim" (click)="deleteFile(f)"> x</span>
        </div>
      </div>
    </div> -->

    <button type="submit" class="btn bg-danger">Invia</button>
  </form>
  <!-- fine invio documenti-->
  <!-- Documenti gia presenti con possibilità di scaricarli-->
  <div class="form-control" *ngIf="service?.documents?.length != 0">
    <!--se è truty-->

    <h6>Documenti presenti</h6>
    <div *ngFor="let s of service?.documents">
      <div class="d-flex justify-content-between bg-light rounded p-3 mt-3">
        <p class="mt-2 text-capitalize m-3">{{ s }}</p>
        <p class="mt-2 text-capitalize"></p>

        <!-- <span class="btn  bg-primary" (click)="download(s.name,s.url)">Download</span> (click)="download(s)" -->
        <svg
          class="change-my-color"
          xmlns="http://www.w3.org/2000/svg"
          fill="#cc3333"
          class="bi bi-download"
          height="30"
          width="25"
          viewBox="0 0 16 16"
          
          
        >
          <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
          />
          <path
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>


