$blue: #333366;
$red:#cc3333;
.bg-blue{
    background-color: $blue;
}
.btn-red{
    background-color: $red;
}
.circle-tipy{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
 
}
.circle-tipy-number{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
   
 
}
.text-color{
    color: $blue;
    font-family: "CrimisonText";
    font-size: xx-large;
}



.mt-125{
    margin-top: 1.25rem;
}

.size-small{
    font-size: smaller;
 
}
.size-large{
    font-size: small;
   
}
// contatori

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100% !important;
    max-height: 100%;
}
 
 
// cerchio 
.div-circle{
    font-size: 2rem;
  width: 3rem;
  height: 1rem;

  
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.center-flex{
    display: flex;
    justify-content: center;
}
.mt-25{
    margin-top: 25vh;
}
// caricamento ...
.c-spinne ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: $blue;
}
/* Table Styles */

.table-wrapper{
   
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 0.313rem;
    font-size: 0.75rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
   
}

.fl-table .td-1, .fl-table .th-1 {
    text-align: center;
    padding: 0.3rem;
}

.fl-table .td-1 {
    border-right: 1px solid #f8f8f8;
    font-size: 0.75rem;
}

.fl-table thead .th-1 {
    color: #ffffff;
    background:  $red;
    border: $blue;
    border-radius: 7px;
}


.fl-table thead .th-1:nth-child(odd) {
    color: #ffffff;
    background: $blue;
    border:white;
    border-radius: 7px;
}

.fl-table .tr-1:nth-child(even) {
    background: #F8F8F8;
}
.td-1{
    font-size: smaller;
    :hover{
        background-color: rgba( 33, 153, 232, 0.5 );
    }
}


tr:hover {
   
     background-color:   rgb(33, 153, 232);
  
    
  } 


.c-grey{
    color: grey;;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}


/* scroll bar*/

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
  }

 .arrow{
    display: none;
 }
 




/* .c-border-blue{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.c-border-red{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
 */
 .c-border{
    border-radius: 12px;
 }
/* Responsive */

@media (max-width: 830px) {
   
   .column-sm{
    flex-direction: column;
   }
   html {
    overflow-y:scroll;
}
.arrow{
    display: flex;
    justify-content: center;
    animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }
  tr:active {
    /*   color:$red;
      transform: scale(1.10, 1.10);
      transition: all .4s cubic-bezier(0.175, 0.885, 0, 1); */
     background-color:   rgb(33, 153, 232);
  
    
  }

  .p-sm-3{
    padding: 0.75rem;
  }

  .text-color{
    color: $blue;
    font-family: "CrimisonText";
    font-size: large;
}
  
}

 


/* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */