<div class="container-lg">

<!-- loader-->
<div class="center-flex mt-25 c-spinne "*ngIf="services.length <= 0  ">
    <mat-spinner [diameter]="200"></mat-spinner>
</div>
<!-- end loader-->
<!-- button -->
 <div *ngIf="services.length > 0" class="container-fluid">
    <section class="mt-2 p-3 text-center text-color">
         <h1>Elenco Incarichi</h1>
    </section>
    
    <div class='  row justify-content-evenly'>
       
        <div  class="  rounded    col-3 m0"  *ngFor="let c of colors">
            <div class="  d-flex flex-column    p-lg-3 p-md-3 ml-0 p-sm-3  c-border  " [style.backgroundColor]="c.color"  (click)="serviceFilter(c.color)">
                
                <h2 class="text-center text-black  " *ngIf="c.color != 'blue'" > {{counter(c.color)}}</h2>
                
                <div class="mr-3 " >
                 <p class="text-center">{{c.tipo}}</p>  
                </div>
            </div>
        </div>
        <div  class="   rounded    col-3 m0"  >
            <div class=" d-flex flex-column  p-lg-3 p-md-3 ml-0 p-sm-3  c-border bg-blue "   (click)="all()">
                
                <h2 class="text-center text-black  text-white "> {{services.length}}</h2>
                <div class="mr-3"   >
                  <p class="text-white text-center"> Tutti </p> 
                </div>
            </div>
        </div>
      <!--   <div  class=" rounded  p-2  col-3 c-border bg-blue   "  (click)="all()">
            <div class="   p-lg-3 p-md-3 ml-0 p-sm-3  c-border " >
                
                
            </div>
              
       
            
        </div> --> 
        <!-- <div class="card">
            <div class="card-body d-flex " [style.backgroundColor]="c.color" [class]="'c-border-'+c.color" (click)="serviceFilter(c.color)">
                <h2 class="text-center text-black  mt-2" *ngIf="c.color != 'blue'" > {{counter(c.color)}}</h2>
                <div class="mr-3" style="margin: 1.2em;">
                    {{c.tipo}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="text-center text-black mt-2 text-white "> {{services.length}}</h2>
                <div class="mr-3" style="margin: 1.2em;">
                  <h4 class="text-white "> Tutti gli incarichi</h4> 
                </div>
            </div>
          </div> -->
    </div>
    
    <!-- button -->
    <hr>
    <!--pagination table-->

    <div *ngIf="getRole() > 1 || getRole() <= 3 " class="testimonial-group">
       
        <div  class="d-flex justify-content-center">
            <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
        <div >
            
            <table  class="table table-responsive text-nowrap table-striped fl-table testimonial-group" >
                <thead  style="background-color: #002d72;">
                    
                    <tr class="tr-1"> 
                     <th class="th-1">Tipo di Urgenza</th>
                     <th class="th-1">Compagnia</th>
                     <th  *ngIf="getRole() > 0 && getRole() <  3 " class="th-1">Fiduciario</th>
                     <th class="th-1"> Tipo sinistro</th>
                     <th class="th-1">Dt.incarico</th>
                     <th class="th-1"> Nr. Sinistro</th>
                     <th class="th-1"> Nr. Incarico</th>
                     <th class="th-1"> Prestazione </th>
                     <th class="th-1"> Assicurato</th>
                     <th class="th-1"> Controparte</th>
                    </tr> 
                    
                </thead>
                    
                    <!-- <tr *ngIf=" getRole() > 0 && getRole() <  3  " > 
                        <th  *ngFor=" let c of nameColumn">
                        <input type="text"  class="form-control" >
                        </th> 
               
                    </tr>
                    <tr *ngIf="getRole() === 3" > 
                        <th  *ngFor=" let c of nameColumnLessFiduciario">
                        <input type="text"  class="form-control" >
                        </th> 
               
                    </tr> -->
                    <tr class="tr-1">
                        <th class="th-1">   
                            <input type="text"  class="form-control" placeholder="T urgenza" >
                        </th>
                        <th class="th-1"> 
                            <input type="text"  class="form-control"  placeholder="Compagnia">
                          <!--   <div class="form-group">
                                <input class="form-control" formControlName="luogo_partenza" placeholder="Da dove vuoi partire?"
                                  type="text" list="codes" [(ngModel)]="selectedItem" (change)="filter(selectedItem)" />
                                <datalist id="codes">
                                  <option *ngFor="let c of cities" [value]="c.citta">
                                    {{ c.citta }}
                                  </option>
                                </datalist>
                            </div> -->
                        </th>
                        <th *ngIf=" getRole() > 0 && getRole() <  3  " class="th-1"  placeholder="Fiduciario"> 
                            <input type="text"  class="form-control" placeholder="Fiduciario" >
                        </th>
                        <th class="th-1"> 
                            <button type="text"  class="form-control" placeholder="T sinistro" (click)="openDialogFilterLeftType()" > T sinistro </button>
                        </th>
                      <!--   <th>
                            <ng-multiselect-dropdown
                            [placeholder]="'Tipo sinistro'"
                            [settings]="dropdownSettings"
                            [data]="typesLeft  "
                            [(ngModel)]="selectedItems"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                          >
                          </ng-multiselect-dropdown>
                        </th> -->
                        <th class="th-1"> 
                            <button type="text"  class="form-control c-grey" placeholder="Data incarico" (click)="openDialogFilter()" > {{today | date:'dd/MM/yy'}}</button>
                        </th>
                        <th class="th-1"> 
                            <input type="text"  class="form-control" placeholder="Nr. sinistro" >
                        </th>
                        <th class="th-1"> 
                            <input type="text"  class="form-control" placeholder="Nr. incarico" >
                        </th>
                        <th class="th-1"> 
                            <input type="text"  class="form-control" placeholder="Prestazione ">
                        </th>
                        <th class="th-1"> 
                            <input type="text"  class="form-control" placeholder="Assicurato">
                        </th>
                        <th class="th-1"> 
                            <input type="text"  class="form-control" placeholder="Controparte">
                        </th>
                        
                    </tr>
              
                    <tr *ngFor="let s of service.serviziFiltered| paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                    }; let i = index" (click)=" openDialog(s.id)  " >
                    
                        <td class="td-1">
                            
                        
                        <div class="circle-tipy m-auto" [style.backgroundColor]="s.tipo"> </div>  
                        
                        </td>
                        <td class="td-1">
                            <h4  class="text-uppercase">{{s.compa}} </h4>
                        </td>
                        
                        <td *ngIf="getRole() > 0  && getRole() < 3 "class="td-1">
                            <h4  ngClass='{{s.fiduciario.length > 17 ? "size-small" : "size-large" }}' class="text-uppercase">{{s.fiduciario}}</h4>
                        </td> 
                        <td class="td-1">
                            <!-- con pipe-->
                            <h4 class="text-uppercase" >{{s.tipo_sinistro | typesLeft }}</h4>
                            <!-- con metodo --> 
                        <!--  <h4 class="text-uppercase">{{getNumberleft(s.tipo_sinistro) }}</h4> -->
                        </td>
                    
                        <td class="td-1">
                            <h4 class="text-uppercase size-large">{{s.data_incarico | date:'dd/MM/yy'}}</h4>
                        </td>
                        <td class="td-1">
                            <h4 class="text-uppercase size-large  ">{{s.nr_sinistro }}</h4>
                        </td>
                
                        <td class="td-1">
                            <h4 class="text-uppercase size-large">{{s.nr_incarico}}</h4>
                        </td>
                        <td>
                            <h4 class="text-uppercase " ngClass='{{s.prestazione_richiesta.length > 13 ? "size-small" : "size-large" }}'>{{s.prestazione_richiesta}}</h4>
                        </td>
                      
                        <td>
                            <h4 class="text-uppercase size-large">{{s.targa_assicurato}}</h4>
                        </td>
                     
                        <td>
                            <h4 class="text-uppercase size-large">{{s.targa_controparte}}</h4>
                        </td>

                    </tr>
              
             
            </table>
            <div class="arrow " >
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333366" class="bi bi-arrow-right" viewBox="0 0 16 16">
                     <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                 </svg> 
            </div>
            <div class="d-flex justify-content-center mt-125">
                <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
         <!--pagination table-->

         
    
   
</div>
















</div>

