.circle-tipy{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
 
}
.circle-tipy-number{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
   
 
}


.pagination .ngx-pagination .current {
    background: red;
  }

.pagination  .ngx-pagination li {
border: 1px solid #CCCC;
margin-right: 0px;
}

.pagination .ngx-pagination a::after{
    display: none;
}

.pagination  .ngx-pagination li::before{
    display: none;
}

.pagination .ngx-pagination li::after{
    display: none;
}

.pagination  .ngx-pagination a::before{
    display: none;}

.mt-125{
    margin-top: 1.25rem;
}

.size-small{
    font-size: smaller;
 
}
.size-large{
    font-size: small;
   
}

.div-circle{
    font-size: 2rem;
  width: 3rem;
  height: 1rem;

  
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.center-flex{
    display: flex;
    justify-content: center;
}
.mt-25{
    margin-top: 25vh;
}
.c-spinne ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #333366;
}
/* Table Styles */

.table-wrapper{
   
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 0.313rem;
    font-size: 0.75rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
   
}

.fl-table .td-1, .fl-table .th-1 {
    text-align: center;
    padding: 0.3rem;
}

.fl-table .td-1 {
    border-right: 1px solid #f8f8f8;
    font-size: 0.75rem;
}

.fl-table thead .th-1 {
    color: #ffffff;
    background:  #cc3333;
    border: #333366;
    border-radius: 7px;
}


.fl-table thead .th-1:nth-child(odd) {
    color: #ffffff;
    background: #333366;
    border:white;
    border-radius: 7px;
}

.fl-table .tr-1:nth-child(even) {
    background: #F8F8F8;
}
.tr-1{
    font-size: smaller;
    :hover{
        color:#cc3333;
    }
}
.tr-1{
    
        color:#333366;
        transform: scale(1.10, 1.10);
        transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
     
    
}
h4:hover{
    color:#cc3333;
    transform: scale(1.10, 1.10);
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}

/* Responsive */

@media (max-width: 767px) {
   /* .column-sm{
    flex-direction: column;
   } */
   .column-sm{
    flex-direction: column;
   }
}

