<div mat-dialog-actions class="d-flex justify-content-end m-1">
      
    <button  mat-button mat-dialog-close type="button" class="close btn btn-red text-white " aria-label="Close">
        <span aria-hidden="true"> <b> X</b></span>
      </button>
  
</div>
<div class="form-check   "> <!-- ovviamente applicare la flex-->

  
    <li class="list-group-item " *ngFor="let item of  typesLeft" >
      <input
        type="checkbox"
        [(ngModel)]="item.isSelected"
        name="list_name"
        value="{{ item.id }}"
        (change)="isAllSelected()"
        class="form-check-input"
      />
      
     <p>{{ item.value.toString() | typesLeft }}</p> 
    </li>

        <div class="col-md-6">
          <button class="btn btn-red" (click)="filterTypeLeft() ">Filtra</button>
        </div>
</div>

   
  



