<div class="container p-5">
    <form class="form-control" [formGroup]="comunicationForm" (ngSubmit)="onSubmit()" >
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="option" >
                <option *ngFor="let  o of options" value="{{o}}">
                    {{o}}
    
                </option>
            </select>
        </div>
        <div class="mb-3">
         
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="text_area"></textarea>

        </div>
        <div class="mb-3">
         
            <input class="form-control form-control-sm" id="formFileSm" type="file" multiple formControlName="upload_file">
          </div>
     
        <button type="submit" class="btn bg-danger"> Invia</button>
        

    </form>

</div>