$blue: #333366;
$red:#cc3333;
.round-nav{
    top:10px;
    border-radius: 15px;
}

a:hover{
    transform: scale(1.10, 1.10);
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}

.f-2{
    font-size: 1.50rem;
    color: $blue;
}

.a-active:visited{
    color:$blue;
    transform: scale(1.10, 1.10);
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}

.c-blue{
  color:$blue;
}

.b-blue{
  border-color: $blue;
}

.img-dim{
  height: 3rem;
  width: 8rem;
}

.text-inherit{
  text-align: inherit;
}

