$blue: #333366;
$red:#cc3333;
/* tabs */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-decoration: none; 
}
.btn-red{
    background-color: $red;
}



/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
    border: $red;
}
.mat-tab-label.mat-tab-label-active:active {
    background-color:  transparent;
    border: $red;
}
.mat-ripple .mat-tab-label , .mat-focus-indicator .ng-star-inserted .mat-tab-label-active{
    background-color: $red;
    border:$red;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:  $red;
    text-decoration: none;
    border: $red;
}
.mat-tab-label-content{
    color:$blue;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100% !important;
    max-height: 100%;
}