
    <div mat-dialog-actions class="d-flex justify-content-end m-1">
      
        <button  mat-button mat-dialog-close type="button" class="close btn-red  text-white" aria-label="Close">
            <span aria-hidden="true"> <b> X</b></span>
          </button>
      
    </div>
    <mat-dialog-content> <!-- crea un dialog scrollable-->
        <mat-tab-group mat-align-tabs="left" >
            
                <mat-tab label="Generale">
                    <ng-template mat-tab-label>
                        Generale
                    </ng-template>
                  <app-generale></app-generale>
                </mat-tab>
       
           
            <mat-tab label="Comunicazione">
                <ng-template mat-tab-label>
                    Comunicazione
                </ng-template>
              <app-comunicazione></app-comunicazione>
            </mat-tab>
            <mat-tab label="Documenti">
               <ng-template mat-tab-label>
               Documenti
                </ng-template>
                 <app-documenti></app-documenti>
            </mat-tab>
          </mat-tab-group>

    </mat-dialog-content>
   


  
  