/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-decoration: none; 
}




/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}
.mat-tab-label.mat-tab-label-active:active {
    background-color:  transparent;
}
.mat-ripple .mat-tab-label , .mat-focus-indicator .ng-star-inserted .mat-tab-label-active{
    background-color: #cc3333;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:  #cc3333;
    text-decoration: none;
}
