<div class="container bg-light rounded mt-2 pd-2 ">
    <div class="row justify-content-around">
        <div class="col-6 " >
            <div *ngFor="let n of names">
                <h5>{{n}}</h5>
            </div>
           
        </div>
    
        <div class="col-6 ">
           <h4 *ngIf="service?.fiduciario?.length != 0">{{service?.fiduciario }}</h4>
            <h4 *ngIf="service?.fiduciario?.length === 0 ">Dato non disponibile</h4>
            <h4>{{service?.compa}}</h4>
            <h4>{{service?.data_ultimo}}</h4>
            <h4>{{service?.data_incarico}}</h4>
            <h4>{{service?.nr_sinistro}}</h4>


        </div>

    </div>
 
    <div class="row justify-content-around">
        <div class="col-6 " >
            <div *ngFor="let n of names2">
               <h5>{{n}}</h5>
            </div>
           
        </div>
        <div class="col-6 ">
            
            <h5>{{service?.assicurato}}</h5>
      
            <h5>{{service?.tipo_sinistro | typesLeft}}</h5>
            <h5>{{service?.targa_assicurato}}</h5>
            <h5>{{service?.controparte}}</h5>
            <h5>{{service?.targa_controparte}}</h5>

        </div>

    </div>


</div>

