<div class="center-flex mt-25 c-spinne "*ngIf="service === undefined || service === null  ">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>

<div class="container bg-light p-3" *ngIf="service">
  
    <!-- <div class="d-flex justify-content-between">
        <h4><b>Dati Generali {{service.id}}</b></h4>
        <div class="circle-tipy " [style.backgroundColor]="service.sinisterState"> </div> 
        
    </div> -->
   
    <table style="width:100%" class="table table-responsive text-nowrap table-striped fl-table" >
        <thead  >
        <tr>
          <th>Fiduciario :</th>
          <td>{{fiduciario}}</td>
        </tr>
        <tr>
          <th>Compagnia :</th>
          <td>{{service.nomeComp}}</td>
        </tr>
        <tr>
          <th>Data incarico : </th>
          <td> Non definito</td>
        </tr>
        <tr>
            <th>Numero sinistro :</th>
            <td>{{service.numsx}}</td>
        </tr>
        <tr>
            <th>Tipo sinistro : </th>
            <td>non definito</td>
        </tr>
        </thead>
      </table>
      <div class="d-flex justify-content-around  pd-3">
        <div>
            <h4><b>Assicurato</b></h4>
            <table style="width:100%" class="table table-responsive text-nowrap table-striped fl-table pd-3">
                <thead  >
                    <tr >
                      <th >Nome e Cognome :</th>
                      <td class="text-capitalize" >------</td>
                    </tr>
                    <tr>
                      <th >Targa :</th>
                      <td class="text-uppercase" >------</td>
                    </tr>
                  
                    </thead>
              </table>
            
        </div>
        <div>
            <h4><b>Controparte</b></h4>
            <table style="width:100%" class="table table-responsive text-nowrap table-striped fl-table">
                <thead >
                <tr >
                  <td class="text-capitalize" >------</td>
                </tr>
                <tr >
                  <td class="text-uppercase" >-------</td>
                </tr>
              
                </thead>
              </table>
        </div>
      </div>
</div>

