/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }

*{
    font-family: "CrimisonText";
}
@font-face {
    font-family: "CrimisonText";
    src: local("Crimisontext"), url(./assets/font/Crimson_Text/CrimsonText-Regular.ttf) format("truetype");
   //src: url("assets/font/CrimisoCrimsonTexts-Regular.ttf");
}  

body { margin: 0; font-family: "CrimisonText" !important;}

